<!-- footer section design -->
<footer class="footer">
  <div class="footer-content">
    <div>
      <a href="index.html"
        ><img src="/images/logoIc.png" alt="" width="150px" height="130px"
      /></a>
    </div>
  </div>

  <div class="footer-contents">
    <h3>Servicii</h3>
    <ul>
      <li><a href="despreMine.html">Cursuri</a></li>
      <li><a href="despreMine.html">Proceduri cosmetice</a></li>
      <li><a href="galaProBeauty2024.html">Gala Pro Beauty 2024</a></li>
    </ul>
  </div>
  <div class="footer-contents">
    <h3>Utile</h3>
    <ul>
      <li>
        <a href="politicaDeConfidentialitate.html"
          >Politica de confidentialitate</a
        >
      </li>
      <li><a href="termeniSiConditii.html">Termeni si conditii</a></li>
      <li>J12/715/2020 |CUI: 42306545</li>
    </ul>
  </div>

  <div class="footer-contents">
    <h3>Gala Pro Beauty</h3>
    <li>
      <a href="tel:0745604818"
        ><i class="bx bxs-phone-call"></i><b>Trif Larisa</b> 0745 604818</a
      >
    </li>

    <li>
      <a href="tel:0741 162163"
        ><i class="bx bxs-phone-call"></i> <b>Alida Herlas</b> 0741 162163</a
      >
    </li>
  </div>

  <div class="footer-content">
    <li>
      <a href="https://anpc.ro/ce-este-sal/" target="_blank"
        ><img src="images/ANPC.png" alt="ANPC" width="200px"
      /></a>
    </li>
    <li>
      <a
        href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO"
        target="_blank"
        ><img src="images/Solutionarea.png" alt="solutionare" width="200px"
      /></a>
    </li>
  </div>
</footer>
<div class="theFooter">
  <p class="footer-p">
    <a href="index.html"
      >Copyright &#169; 2024 All right Reserved ICONIC Academy</a
    >.Made by
    <a href="">Ioana Ciceu</a>
  </p>
</div>
