
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="navbar-container">
           
            <div class="logo">
                <a href="index.html" class="logo-title"><img src="/images/logoIc.png" alt="Company logo" >ICONIC Academy</a>
            </div>
            
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a id="navbar-acasa" href="index.html" class="nav__link">Acasa</a>
                  </li>
                  <li class="nav__item">
                     <a id="navbar-despreMine" href="despreMine.html" class="nav__link">Despre Mine</a>
                  </li>
                  
                    <li class="dropdown">
                      Gala Pro Beauty
                      <div class="dropdown-content">
                        <a id="navbar-galaProBeauty2024" href="galaProBeauty2024.html">Gala Pro Beauty 2024</a>
                        <a id="navbar-regulament" href="regulament.html">Regulament</a>
                        <a id="navbar-categorii" href="categorii.html">Categorii</a>
                        <a id="navbar-bilete" href="bilete.html">Bilete</a>
                      </div>
                    </li>
                  <li class="nav__item">
                     <a id="navbar-contact" href="contact.html" class="nav__link">Contact</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <div class="nav__actions">
               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
               <!-- <label for="targetLanguage">Selectează limba destinație:</label> -->
            <!-- <div>
                <select id="language" name="language" onchange="translatePage();">
                    <option value="ro" selected>Romana</option>
                    <option value="en" >Engleza</option>
                    <option value="it">Italiana</option>
                    <option value="es">Spaniola</option>
                    <option value="de">Germana</option>
                    <option value="ru">Rusa</option>
                    <option value="fr">Franceza</option>
                </select>
            </div> -->
         </nav>



      </header>

    
      </div>

        
   
       



  